---
import { friends } from "@/content/friends";
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/Section.astro";
import { FriendLinks } from "@/components/links";
---

<Layout>
  <Section>
    <FriendLinks />
  </Section>
  <Section>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      
      {
        friends.map((friend) => (
          <li>
            <a
              href={friend.url}
              class="block p-4 border rounded-lg hover:bg-muted"
            >
              <img
                src={friend.avatar}
                alt={friend.name}
                class="w-12 h-12 rounded-full mb-2"
              />
              <div class="font-bold">{friend.name}</div>
              <div class="text-sm text-muted-foreground">
                {friend.description}
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
