---
import { config } from "@/config";
const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>{title}</title>
<meta name="description" content={config.description} />
<meta name="generator" content={Astro.generator} />

<link
  rel="icon"
  type="image/avif"
  href={new URL("krjojo.avif", config.url).href}
/>
<link rel="icon" href={new URL("favicon.ico", config.url).href} />

<!-- 网站分析 -->
<script
  defer
  src="https://um.krjojo.com/script.js"
  data-website-id="d9301199-8ae6-4eab-9dd8-21bc532eac03"></script>
<script
  defer
  src="https://um.krjojo.com/recorder.js"
  data-website-id="d9301199-8ae6-4eab-9dd8-21bc532eac03"
  data-sample-rate="0.15"
  data-mask-level="moderate"
  data-max-duration="300000"></script>
<!-- <script
  data-goatcounter="https://my-account.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"></script> -->

<!-- 开放图谱标签 -->
<meta property="og:title" content={config.title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={new URL(config.url).href} />
<meta property="og:description" content={config.description} />
<meta property="og:image" content={config.avatar.src} />
<meta property="og:image:alt" content="" />
<ClientRouter />

<link
  rel="alternate"
  type="application/rss+xml"
  title=`${config.title} RSS Feed`
  href={new URL("feed.xml", config.url).href}
/>
<link rel="sitemap" href={new URL("sitemap-index.xml", config.url).href} />

<!-- 搜索 -->
<link
  href={new URL("pagefind/pagefind-component-ui.css", config.url).href}
  rel="stylesheet"
/>
<script
  src={new URL("pagefind/pagefind-component-ui.js", config.url).href}
  type="module"></script>
