---
import { config } from "@/config";
import { getCollection } from "astro:content";
import Head from "@/components/Head.astro";
import HeadJS from "@/components/HeadJS.astro";
import "../styles/global.css";
import {
  Dashboard,
  SidebarInset2,
  SidebarInset1,
} from "@/components/Dashboard";
import { Toaster } from "@/components/ui/sonner";
import { getDocTree } from "@/util/tree";

// 获取页面标题和动画类型
const { title = "", animate = "slide" } = Astro.props;
const displayTitle = title
  ? `${title} - ${config.title}`
  : `${config.title} - ${config.description}`;

// 获取最新的5篇文章
const allPosts = await getCollection("blog");
const posts = allPosts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 5)
  .map((post) => ({
    ...post,
    customSlug: post.id.split("/").pop(),
  }));
const favoritePosts = posts.map((post) => ({
  name: post.data.title,
  url: new URL(post.customSlug || "", config.url).href,
  emoji: "",
}));

// 获取文档树数据
const allDocs = await getCollection("docs");
const docTree = getDocTree(allDocs);

// 构建时间
const buildDate = new Date();
---

<!doctype html>
<html lang="zh-CN" dir="ltr">
  <head>
    <HeadJS />
    <Head title={displayTitle} />
  </head>
  <body>
    <main>
      <Dashboard>
        <SidebarInset1
          favoritePosts={favoritePosts}
          docTree={docTree}
          currentPath={Astro.url.toString()}
          transition:persist
          client:only="react"
        />
        <SidebarInset2 title={title} buildDate={buildDate} client:load>
          <div transition:animate={animate}>
            <slot />
          </div>
        </SidebarInset2>
      </Dashboard>
    </main>
    <Toaster client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
