---
import { config } from "@/config";
import { getCollection } from "astro:content";
import Head from "@/components/Head.astro";
import HeadJS from "@/components/HeadJS.astro";
import "../styles/global.css";
import { Dashboard } from "@/components/Dashboard";
import { Toaster } from "@/components/ui/sonner";

const { title = "" } = Astro.props;
const displayTitle = title ? `${title} - ${config.title}` : `${config.title} - ${config.description}`;

const allPosts = await getCollection("blog");

const posts = allPosts
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 5)
  .map((post) => ({
    ...post,
    customSlug: post.id.split("/").pop(),
  }));
const favoritePosts = posts.map((post) => ({
  name: post.data.title, 
  url: new URL(post.customSlug || "", config.url), 
  emoji: "", 
}));
---

<!doctype html>
<html lang="zh-CN" dir="ltr">
  <head>
    <HeadJS />
    <Head title={displayTitle} />
  </head>
  <body>
    <main>
      <Dashboard client:load favoritePosts={favoritePosts} url={Astro.url}>
        <div transition:animate="slide">
          <slot />
        </div>
      </Dashboard>
    </main>
    <Toaster client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
